a, a:active, a:focus, a:link, a:visited 
  color: #2d617d
  text-decoration: underline


a:hover 
  color: #245066
  text-decoration: none


body 
  background-color: #ffffff
  scrollbar-3dlight-color: #ffffff
  scrollbar-arrow-color: #2d617d
  scrollbar-darkshadow-color: #ffffff
  scrollbar-face-color: #e8f4fd
  scrollbar-highlight-color: #cce9ec
  scrollbar-shadow-color: #8ccccd
  scrollbar-track-color: #ffffff


body, td, fieldset, marquee 
  cursor: default


body, td, input, textarea, select 
  color: #2d617d
  font: 10px verdana, tahoma, sans-serif
  font-weight: none
  text-decoration: none

h1
  border-bottom: 1px #000 solid
  padding-bottom: 5px

#wrapper
  width: 800px
  text-align: left
  margin: auto
  
#refresh
  text-align: center

#loading
  text-align: center