= render(:partial => 'product')
#refresh
  = refresh_link
  %br
  %font{:size => 2} This page refreshes automatically every 10 seconds
#loading{:style => 'display:none'}
  loading...
= periodically_call_remote(:url => { :action => 'update' })